bcrypt==4.1.2
Flask==3.0.1
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
pymongo==4.6.2
PyMuPDF==1.24.0
PyMuPDFb==1.24.0
pytest==8.0.2
pytest-cov==4.1.0
python-dotenv==1.0.1
rake-nltk==1.0.6
textblob==0.18.0.post0
Werkzeug==3.0.1
