<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Uploader</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    
    <body>
        <h1>Secure File Uploader</h1>
        <div class="container">
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit">Upload File</button>
            </form>
        </div>
        
    </body>
</html>
